/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** END reset **/


/*** STYLES ***/
.clearfix {
	overflow: auto;
	zoom: 1;
}

body, html {
	height: 100%;
	overflow-y: auto;
}
.top {
	height: 50px;
	overflow: hidden;
	border-bottom: 1px solid #f2f2f2;
}
.top h5 {
	text-align: center;
	padding: 19px;
	font: 600 12px/100% 'Open Sans';
	color: #505050;
}
.top h5 span {
	font-weight: bold;
	text-transform: uppercase;
}
.top .back-to-class {
	float: left;
	padding: 17px 30px;
	border: 1px solid #f2f2f2;
}
.top .back-to-class a {
	text-transform: uppercase;
	text-decoration: none;
	font: 600 12px/100% 'Open Sans';
	color: #f16059;
}
.top .project-buttons {
	float: right;
	padding: 17px 30px;
	border-left: 1px solid #f2f2f2;
}
.top .project-buttons.submit {
	background: #c4e9e2;
}
.top .project-buttons a {
	text-transform: uppercase;
	text-decoration: none;
	font: 600 12px/100% 'Open Sans';
	color: #505050;
}
.alert {
    background: none repeat scroll 0 0 #f6f4f4;
    border-bottom: 1px solid #f2f2f2;
    display: none;
    font-family: 'open sans';
    padding: 30px 0;
    text-align: center;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color:#e5e3e3;
}
.alert p {
    line-height: 1;
    margin-bottom: 7px;
}
.alert p span {
	font-weight:bold;
	text-transform:uppercase;
}
.alert p code {
	background:#ffffff;
	border:1px solid #e5e3e3;
	padding:0 5px;
}
.project {
	height: 100%;
	overflow-y: auto;
}
.project .panel-header {
	text-transform: uppercase;
	font: 600 12px/100% 'Open Sans';
	color: #505050;
	padding: 5px;
	border-bottom: 1px solid #f2f2f2;
	height: 40px;
}
.project .panel-header h4 {
	padding: 15px;
}
.project .panel-header #hint {

}
.project .panel-header #hint.active {
    background-color: #2d2d2d;
    color: white;
}
.panel-header button,
.editor footer button {
	margin-top: 2px;
	float: right;
	background-color: #e5e5e5;
	text-transform: uppercase;
	color: #737272;
	font-size: 12px;
	font-family: 'montserrat';
	border: none;
	padding: 9px 14px;
	cursor: pointer;
}
.instructions {
	width: 340px;
	float: left;
	/*background-color: red;*/
	height: 100%;
}
.instructions .content {
	/*padding: 15px;*/
}
.instructions .steps-header {
	height: 40px;
	border-bottom: 1px solid #f2f2f2;
	overflow: hidden;
	padding: 5px 5px 5px 15px;
}
.instructions .steps-header .button {
	font: 400 24px/100% 'Open Sans';
	background-color: #e5e5e5;
	text-transform: uppercase;
	color: #737272;
	border: none;
	padding: 6px 11px;
	cursor: pointer;

}
.instructions .steps-header #prev {
	float: left;
}
.instructions .steps-header #next {
	float: right;
}
.instructions .steps-header h4 {
	text-align: center;
	margin-top: 12px;
	font: 600 12px/100% 'Open Sans';
	text-transform: uppercase;
	color: #505050;
	padding: 0 33px 0 33px;
}
.instructions .steps-header h4 #current {
	font-weight: 700;
}
.instructions .steps-header button {
	display: none;
}
.instructions .step-content {
    padding: 30px 15px;
}
.instructions .step-content h4 {
	font-family:'montserrat';
	text-transform:uppercase;
	font-size:17px;
	margin-bottom:20px;
}
.instructions .step-content ul li {
	font-family:'open sans';
	color:#5b5b5b;
	font-size:15px;
	line-height:28px;
	display: none;
}
.instructions .step-content ul li.active {
	display: block;
}
.resizable-wrapper {
	height: 100%;
}
.resizable-wrapper.with-instructions {
	padding-left: 340px;
}
.editor {
	float: left;
	width: 40%;
	min-width: 22%;
	max-width: 78%;
	height: 100%;
	/*background-color: blue;*/
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
}
.editor #tabs {
	height: 100%;
	padding-top: 4px;
}
.editor #tabs form {
	height: 100%;
}
.editor #tabs ul {
	height: 43px;
}
.editor #tabs,
.editor #tabs ul {
	padding-left: 0;
}
.editor #tabs ul li {
	background: #ebebeb;
	margin: 0 1px 0 0;
	border-top: none;
	/*border-right: 1px solid #ffffff;*/
	/*border-left: 1px solid #ffffff;*/
	height: 100%;
	width: auto;
	padding: 0;
}
.editor #tabs ul li.ui-state-default {
	border-bottom: 1px solid #e3e2e2;
}
.editor #tabs ul li.ui-state-default:first-child {
	border-left: 1px solid #ffffff;
}
.editor #tabs ul li.ui-state-active {
	background: #f5f5f5;
	border-width:1px 1px 0px 1px;
	border-style: solid;
	border-color:#e3e2e2;
	/*border-bottom: 1px solid #ffffff;*/
}
.editor #tabs ul li a {
	font: 400 12px/100% 'Montserrat';
	color: #5b5b5b;
	display: block;
	padding: 16px 24px;
}
.editor #tabs ul li.ui-state-active a {
	padding: 15px 24px 16px 24px;
}
.editor #tabs .ui-tabs-panel {
	border-top: 1px solid #e3e2e2;
	background: #f5f5f5;
	height: 100%;
	padding: 0;
}
.editor #tabs .ui-tabs-panel .CodeMirror {
	background: none;
	height: 100%;
}
/*.editor #tabs .ui-tabs-panel .CodeMirror pre {
	margin: 8px 0;
}*/
/*.editor #tabs .ui-tabs-panel .CodeMirror-cursor {
	margin: 8px 0;
}*/
.editor #tabs .ui-tabs-panel .CodeMirror-gutters {
	background: #ebebeb;
}
.editor #tabs .ui-tabs-panel .CodeMirror-linenumber {
	color: #333333;
	font: 600 12px/100% 'Open Sans';
}
.editor .ui-resizable-handle {
	background: url(../img/editor-resizable-handle.png) no-repeat center 40% #dcdcdc;
	margin-top: 50px;
	margin-right: 4px;
	width: 9px;
}
.editor footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}
.preview {
	/*background-color: pink;*/
	height: 100%;
	width: auto;
	float:left;
}
