<!DOCTYPE html>
<html>
<head>
	<!-- jquery & jquery-ui -->
	<link rel="stylesheet" href="js/jquery-ui/jquery-ui.min.css">
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/jquery-ui/jquery-ui.min.js"></script>

	<!-- fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- custom stuff -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<section class="top">
		<header>
			<div class="back-to-class">
				<a href="#">Back to Lesson</a>
			</div>

			<div class="publish project-buttons">
				<form method="post" action="" id="project"><!-- start full page form -->
					<input type="submit" name="project-publish" value="Publish" />
					<input type="submit" name="project-unpublish" value="Unpublish" />
			</div>

			<div class="save project-buttons">
				<input type="submit" name="project-save" value="Save" />
			</div>

			<div class="complete-challenge project-buttons">
				<input type="submit" name="project-complete-challenge" value="Complete Challenge" />
			</div>

			<h5>Skillcrush Project</h5>
		</header>
		<div class="clearfix"></div>
	</section>



	<section class="project">


		<!-- if instructions, add class with-instructions -->
		<div class="resizable-wrapper with-instructions">
			<ul class="step-list right">
				<li class="step clearfix code-editor">
					<div class="project-editor">
						<header class="panel-header">
							<button id="run-js">Run JS</button><!-- this button works! -->
							<button id="download-code" class="download-code-btn">Download Code</button> <!-- doesn't work yet, will integrate later -->
							<h4>Code Editor</h4>
						</header>
						<div id="log"></div>
						<div id="tabs">
							<ul>
								<li><a href="#tab-html">index.html</a></li>
								<li><a href="#tab-css">style.css</a></li>
								<li class="js-tab"><a href="#tab-js">script.js</a></li>
							</ul>

							<div id="form-code">
								<input type="hidden" id="html-bucket" name="html-bucket" />
								<input type="hidden" id="css-bucket" name="css-bucket" />
								<input type="hidden" id="js-bucket" name="js-bucket" />

								<!-- here we need to display the default code in each tab if the user doesn't have any saved HTML, CSS & JS -->
								<div id="tab-html">
									<textarea id="html" tab="1"></textarea>
								</div>
								<div id="tab-css">
									<textarea id="css"></textarea>
								</div>
								<div id="tab-js">
									<textarea id="js"></textarea>
								</div>
							</div>
							</form><!-- end full page form -->
						</div>
					</div>
					<div class="preview open-console"> <!-- ADD open-console  CLASS TO SHOW CONSOLE-->
						<header class="panel-header">
							<h4>Preview</h4>
						</header>
						<iframe id="project-preview" sandbox="allow-scripts allow-same-origin"></iframe>
						<div id="mask"></div>

						<div  id="output" class="console-log"> <!-- ADD open-console  CLASS TO SHOW CONSOLE -->
							<header class="panel-header">
								<h4>JS Console</h4>
								<span class="alert-close">&times;</span>
							</header>

							<link rel="stylesheet" type="text/css" media="all" href="js/javascript-sandbox-console-master/src/sandbox.css" />
							<div id="sandbox">console loading...</div>

							<!-- The sandbox template -->
							<script type="text/template" id="tplSandbox">
								<div class="output-wrap"><pre class="output"></pre></div>
								<div class="input">
									<textarea rows="1" placeholder="<%= placeholder %>"></textarea>
								</div>
							</script>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</section>

<!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
<script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
<span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
<% } %></script>

<script src="js/javascript-sandbox-console-master/src/libs/underscore.min.js"></script>
<script src="js/javascript-sandbox-console-master/src/libs/backbone.min.js"></script>
<script src="js/javascript-sandbox-console-master/src/libs/backbone-localStorage.min.js"></script><!-- opt -->

<script src="js/javascript-sandbox-console-master/src/sandbox-console.js"></script>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		// Create the sandbox:
		window.sandbox = new Sandbox.View({
			el : $('#sandbox'),
			model : new Sandbox.Model({ iframe : true })
		});
		window.sandbox.model.bind("change", function(){
			$('#sandbox .output-wrap').scrollTop($('#sandbox .output').height());
		});
		
		//Show console.log messages in our custom sandbox console
		ConsoleListener.on("log", function (message) {
			 window.sandbox.model.displayString(message);
		 });
		 
	});
</script>

<!-- codemirror -->
<script src="js/codemirror4.1/lib/codemirror.js"></script>
<script src="js/codemirror4.1/mode/xml/xml.js"></script>
<script src="js/codemirror4.1/mode/htmlmixed/htmlmixed.js"></script>
<script src="js/codemirror4.1/mode/css/css.js"></script>
<script src="js/codemirror4.1/mode/javascript/javascript.js"></script>
<link rel="stylesheet" href="js/codemirror4.1/lib/codemirror.css">

<!-- codemirror addons -->
<!--<script src="js/codemirror4.1/addon/fold/foldcode.js"></script>
<script src="js/codemirror4.1/addon/fold/brace-fold.js"></script>
<script src="js/codemirror4.1/addon/fold/comment-fold.js"></script>
<script src="js/codemirror4.1/addon/fold/foldgutter.js"></script>
<script src="js/codemirror4.1/addon/fold/indent-fold.js"></script>
<script src="js/codemirror4.1/addon/fold/markdown-fold.js"></script>
<script src="js/codemirror4.1/addon/fold/xml-fold.js"></script>
<link rel="stylesheet" href="js/codemirror4.1/addon/fold/foldgutter.css"> -->

<script src="js/script.js"></script>
<script src="js/console-listener.js"></script>
</body>

</html>
